<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">

h2 {
    text-align: center;
    font-family: "Nerko One", cursive;
    font-size: 25px;
}

body {
    background: #756C76;
    margin: 0 auto;
    font-family: sans-serif, cursive;
}

.header {
    margin: auto;
    margin-top: 30px;
    width: 900px;
    border: 1px solid #000000;
    background: #8315D0;
    font-family: 'Nerko One', cursive;
    text-align: center;
    font-size: 25px;
    color: white;
    border-radius: 18px;
}

.nav_bar {
    margin: auto;
    width: 860px;
    padding: 5px 20px 5px 20px;
    border: 1px solid #000000;
    background: #ffffff;
    color: #000000;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    word-spacing: 40px;
    border-radius: 28px;
}

.nav_bar a {
    color: black;
    text-decoration: none
}
.nav_bar a:hover {
    color: rebeccapurple;
    text-decoration: overline underline;
}

.main_container {
    margin: auto;
    width: 860px;
    padding: 20px;
    background: #000000;
    border: 1px solid #000000;
    min-height: 500px;
    color: white;
    border-radius: 18px;
    text-align: center;
}

.footer {
    margin: auto;
    width: 860;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #000000;
    max-height: 10px;
    font-size: 12px;
    color: black;
    border-radius: 18px;
}

.not_main_container {
    margin: auto;
    width: 860px;
    padding: 20px;
    background: #000000;
    border: 1px solid #000000;
    min-height: 0px;
    border-radius: 18px;
    text-align: center;
    color: white;
}

.options {
    margin: auto;
    background-color: #8315D0;
    border: 1px solid #000000;
    border-radius: 18px;
    width: 900px;
    max-height: 300px;
    text-align: center;
    padding-bottom: 10px;
}

.links {
    font-size: 35px;
    text-decoration: none;
    color: black;
}

hh {
    font-family: "Nerko One", cursive;
    font-size: 35px;
    text-align: left;
}